/*
기본 틀 만들기 
대충 파트는 2개 정도
이로하와의 데이트를 담는걸로

기본호감도 100시작
파트1
데이트 시작 전날 교실에서
데이트 하자고 하는 것

선택지1 
 커피를 먹을래 홍차를 먹을래 (커피 +10, 홍차 -10)
선택지2
 영화관 갈래 노래방 갈래 (영화관 + 10, 노래방 -10)
선택지3
 같이 돌아갈래 아니면 그냥 따로 (같이 +20, 혼자 -20)

파트2
 데이트 시작
 만남 - 밥 - 게임센터 - 영화관

 선택지 1
  이로하에게 칭찬하기 안하기 (하기 +10. 안하기 +0)

 선택지 2
   밥 먹으러 나가서 먹여주기 안먹여주기 (먹여주기 + 20 안먹여주기 -20)

 선택지 3
   이로하가 좋아하는 인형 뽑아주기 (힘을 강하게 해서 뽑는다 +30, 돈만 날린다 -10)

 선택지 4
   영화 무슨 영화 로맨스 판타지 (로맨스 + 10, 판타지 - 10)

결과1 노멀엔딩
  다음날 교실에서 재밌었다면서 회상하면서 끝

결과2 굿엔딩
  다음날 또 다시 데이트 하고싶다면서 책임지라면서 귓속말해주는 영상 나오며 진엔딩  

호감도가 일정 이하면 노멀엔딩 150이하
호감도가 일정 이상되면 굿엔딩 150이상
*/

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: auto; /* 기본 스크롤 설정 */
  min-width: 1800px;
  min-height: 850px;
  justify-content: center;
  display: flex;
  align-items: center;

}

body{
  background-image: url(배경화면.png);
  background-attachment: fixed;
  background-size: cover;
  justify-content: center;
  display: flex;
  align-items: center;
  /*background-size: 700px 500px;
  background: color || image || repeat || attachment || position*/
}

.middle{
  position: absolute;
	text-align: center;
}


.btn{
  background-color:skyblue;
  color: white;
  padding: 50px 100px;
	display:inline-block;
  position: relative;
  top: 300px;
}

.gamebox{
  position: absolute;
  width: 1800px;
  height: 850px;
  background-color: white ;
  background-image: url(classroom.jpg);
  background-size: cover;
}

.like{
  font-size: 40px;
  color: red;
  font-weight: 700;
}

.conversation{
  width: 1600px;
  height: 210px;
  background-color: plum;
  position: absolute;
  bottom: 0;
  left: 6%;
  background-size: cover;
  word-wrap: break-word;
  overflow: hidden;
  white-space: pre-wrap;;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.ch{
  position: absolute;
  bottom: 0;
  height: 600px;
  width: 300px;
  left: 42%;
  top: 5%;
}

.selectbox1{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;  
  width: 500px;
  height: 100px;
  position: absolute;
  left: 35%;
  top: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  z-index: 10;
}

.selectbox2{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: pink;
  width: 500px;
  height: 100px;
  position: absolute;
  left: 35%;
  top: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  z-index: 10;
}

.wall {
  position: absolute;
  width: 1800px;
  height: 850px;
  z-index: 5;
}